<ion-view title="Create New Xignal">
    <ion-content>
        <div class="list createSurveyContent">
            <label class="item item-input item-stacked-label">
                <!--<span class="input-label">Xignal title</span>-->
                <input type="text" placeholder="Xignal title" ng-model="newSurveyData.name">
            </label>
            <label class="item item-input item-stacked-label">
                <textarea
                        ng-model="newSurveyData.description"
                        placeholder="Xignal description..."
                        ng-change=""
                        ></textarea>
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-assertive" ng-click="createSurvey()">Create</button>
        </div>
        <pre>{{ newSurveyData }}</pre>
    </ion-content>
</ion-view>
