<ion-view title="Create New Xignal">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <!--<span class="input-label">Xignal title</span>-->
                <input type="text" placeholder="Xignal title">
            </label>
            <label class="item item-input item-stacked-label">
                <textarea
                        ng-model=""
                        placeholder="Xignal description..."
                        ng-change=""
                        ></textarea>
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-assertive" ui-sref="create">Create</button>
        </div>
    </ion-content>
</ion-view>
