<ion-view title="{{ survey.name }}">
    <ion-content>
        <div class="padding results">
            <div class="button-bar">
                <a class="button button-small" ui-sref="tab.graph({id: survey.id})">Results</a>
                <!--<a class="button button-small" ui-sref="tab.comments({id: survey.id})">Comments</a>-->
                <a class="button button-small" ui-sref="tab.contacts({id: survey.id})">Contacts</a>
            </div>
            <h3>Question 1</h3>
            <h5 class="question">{{ survey.questions[0].text }}</h5>
            <p>OVERALL SCORE: From X responses.</p>
            <div class="score">5.8</div>
            <pre>{{ survey }}</pre>
        </div>
    </ion-content>
</ion-view>
