<ion-view title="{{ surveyName }}">
    <ion-content>
        <div class="padding">
            <div class="button-bar">
                <a class="button button-small" ui-sref="tab.graph({id: surveyId})">Graph</a>
                <!--<a class="button button-small" ui-sref="tab.comments({id: surveyId})">Comments</a>-->
                <a class="button button-small" ui-sref="tab.contacts({id: surveyId})">Contacts</a>
            </div>
            <h3>Comments</h3>
            <div ng-repeat="comment in comments"><p>"{{ comment.response }}"</p></div>
        </div>
    </ion-content>
</ion-view>
