<ion-view title="{{ surveyName }}">
    <ion-content>
        <div class="padding results">
            <div class="button-bar">
                <a class="button button-small" ui-sref="tab.graph({id: surveyId})">Graph</a>
                <!--<a class="button button-small" ui-sref="tab.comments({id: surveyId})">Comments</a>-->
                <a class="button button-small" ui-sref="tab.contacts({id: surveyId})">Contacts</a>
            </div>
            <p style="margin-top: 1em;">QUESTION</p>
            <h5 class="question">&ldquo;{{ question }}&rdquo;</h5>
            <p>OVERALL SCORE: From {{ surveyResponsesCount }} responses.</p>
            <div class="score">{{ surveyAverage | number:2 }}</div>
        </div>
    </ion-content>
</ion-view>
