<ion-view title="Your Xignals">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="tab.create">Create</button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refreshSurveys()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="xignal in xignals" ui-sref="tab.graph({id: xignal.id})">
                {{xignal.name}}
                <i class="icon ion-ios7-arrow-right"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
